.paperMain img{
    width: 100%;
    height: 15em;
    padding: 2px;

}

.paperMain {
    background-color: red;
    padding-bottom: 20px;
    text-align: center;
}

h4 {
    font-weight: 900;
    color: rgb(87, 87, 87);
}

.container {
    width: 100%;
    padding: 90px;
}

input {
    text-align: center;
}